@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

aside{
    width: 250px;
}
.card-task{
    min-height: 20vh;
    max-height: 70vh;
}
.modal{
    margin: auto;
    margin-top: 100px;
}
#search{
    width: 300px;
}
.loading{
    z-index: 999999999;
    position: absolute;
    top: 0;
    left: 0;
}
#logout{
    width: 150px;
}
@media only screen and (max-width:435px) {
    .modal{
        position: absolute;
        margin-top: 0;
    }
    #search{
        width: 100%;
    }
}